@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
  }

  :root {
    --border-radius: 5px;
    --border-default: 1px solid #e6e6e6;
    --content-background: white;   
  }

  body {
    background-color: #f9fafb;
    height: 100vh;
  }

/* DASHBOARD SIDEBAR */

.sidebar {
  min-width: 21rem;
  background-color: var(--content-background);
  min-height: 100vh;
  border: var(--border-default)
}

nav {
  display: flex;
  flex-direction: column;
  min-height: inherit;
  padding: 0 1rem;
}

nav ul {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

nav h3 {
  margin: 0 0.5rem 1rem;
}

nav hr {
  border: none;
  border-top: var(--border-default);
  margin-bottom: 1rem;
}

nav li {
  list-style-type: none;
}

nav .link {
  display: flex;
  padding: 0.5rem;
  text-decoration: none;
  font-size: 18px;
  color: black;
  font-family: "Inria Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  border-radius: var(--border-radius);
}

nav .link:hover {
  background-color: #3498db;
  cursor: pointer;
  color: white;
}

li img {
  padding-right: 0.5rem;
}

li:hover img {
  filter: brightness(0) invert(1);
}

nav ul li:last-child {
  margin-top: auto;
  position: sticky;
  bottom: 1rem;
}

.dashboard-container {
  display: flex;
}

.dashboard-content {
  padding: 1rem;
}


.grid {
  margin: 1rem;
}

.warning {
  color: lightcoral;
  font-weight: bold;
}

/* REQUEST TABLES STYLING */

.grid {
  margin: auto;
  border: 2px black solid;
  border-radius: var(--border-radius);
  padding: 10px;
  width: 1000px;
  text-align: center;
}

.grid .head {
  display: grid;
  font-weight: bold;
  grid-template-columns: calc(100% / 7) calc(100% / 7) calc(100% / 7) calc(100% / 7) calc(100% / 7) calc(100% / 7) calc(100% / 7);
}

.grid .body {
  display: grid;
  grid-template-columns: calc(100% / 7) calc(100% / 7) calc(100% / 7) calc(100% / 7) calc(100% / 7) calc(100% / 7) calc(100% / 7);
}

.grid p {
  white-space: nowrap;
  font-size: 16px;
}

.grid h2 {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 2px black solid;
}

.grid button {
  cursor: pointer;
  background-color: #3498db;
  border: 2px solid #3498db;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  width: 100%;
  margin: 2px;
}

/* DETAILS STYLING */

.details {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
   "title title delete"
   "date date date"
   "asset asset asset"
   "description description description"
   "creator priority assignment"
   "tech tech status";
  row-gap: 1rem;
  column-gap: 3rem;
  background-color: var(--content-background);
  border: var(--border-default);
  border-radius: var(--border-radius);
  padding: 2rem;
}

.details-title {
  grid-area: title;
  font-size: 1.5rem;
}

.delete-request {
  grid-area: delete;
  width: 100px;
}

.date-details {
  margin-top: 1rem;
  grid-area: date;
}

.date-details .date {
  margin-left: .5rem;
}

.asset-details {
  grid-area: asset;
}

.description-details {
  grid-area: description;
}

.created-by-details {
  grid-area: creator;
}

.asssignment-details {
  grid-area: assignment;
}

.priority-details {
  grid-area: priority;
}

.status-details {
  grid-area: status;
}

.tech-update {
  grid-area: tech;
  display: flex;
  flex-direction: column;
}

.tech-update textarea {
  min-height: 100px;
}

.tech-update button {
  margin-top: 8px;
}

/* FORM STYLING */

.form h2 {
  text-align: center;
  margin: 0 0 20px;
}

.form {
  padding: 30px 40px;
  background-color: #fff;
  border: solid 1px #e6e6e6;
  border-radius: 5px;
  /* box-shadow: 0 2px 10px rgba(0,0,0,0.3); */
  width: 500px;
}

.form select {
  background-color: #fff;
  color: #777;
  border: none;
}

.form textarea {
  resize:none;
}

.form .form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form .form-control label, 
.form .form-control legend {
  color: #777;
  display: block;
  margin-bottom: 5px;
}

.form .form-control input, 
.form .form-control textarea,  
.form .form-control select {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
}

.form .form-control input, 
.form .form-control textarea, 
.form .form-control select {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

.form fieldset div {
  display: flex;
  align-items: baseline;
  font-weight: 500;
  width: fit-content;
  font-size: 14px;
}

.form fieldset input {
  margin-right: 5px;
}

.form fieldset {
  border: none;
}

.form-control input:focus {
  outline: 0;
  border-color: #777
}

.form button {
  cursor: pointer;
  background-color: #3498db;
  border: 2px solid #3498db;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
}

/* LOGO MARKETING STYLES */

.dashboard-container .marketing {
  margin-bottom: 1rem;
}

.marketing img {
  height: 48px;
}

.marketing h1 {
  font-family: "Inria Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: .8;
}

.marketing small {
  padding-left: 3px;
  font-weight: 600;
}

.marketing {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 4px;
  background-color: rgb(240, 240, 240);
}

.marketing div {
  padding-left: .75rem;
  height: 48px;
}