* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }

  body {
    background-color: #f9fafb;
  }

  .warning {
    color: lightcoral;
    font-weight: bold;
    visibility: hidden;
}